*{
  box-sizing: border-box;
  background-color: #C0EEF2;
  font-family: 'PT Sans', sans-serif;
  
}

h1{
  background-color: transparent;
  color: black;
}

h2,p,ul,li{
  background-color: #DC8449;
}
.contenedor {
  background-color: #DC8449;
    padding: 8px;
    
}

.columna{
 
  font-size: 14px;
  background-color: transparent;
  margin: 5px;
  padding: 10px;
}

.fila3{
  background-color: #DC8449;
}